/* Resetowanie domyślnych styli */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #166a8f;

    width: 100%;
    color: white;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

#logo {
    height: 80px;
    margin-left: 40px;
}

header section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

#header-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#profilowe {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 5px;
}

button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #c9302c;
}
#main{
    margin-top: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
    margin: 20px;
    margin-left: 5%;

}

section {
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1;
    width: 100%;
    margin-left: 0;
    text-align: center;
}
section p{
    padding: 4px 0;
}

#kierowca{
    width: 100%;
    height: 350px;
}

#kierowca h3{
    margin-bottom: 1em;
}

h2 {
    margin-bottom: 15px;
    color: #166a8f;
}

aside {

    width: 35%;
    background-color: #eee;
    padding: 15px 50px;
    border-radius: 5px;
    margin-top: 20px;
    height: 400px;    
    margin-left: 50px;
}

#main{
    display: flex;
 
   
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

footer{
    margin-top: auto;
    height: 100px;
    background-color: #166a8f;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .1em;
    font-size: 1.2em;
    color: white;
    
}

footer h6{
    margin-left: 5px;
    color: #278b90;
    font-size: .5em;
}

tr:last-child td {
    border-bottom: none;
}

@media (max-width: 874px) {
    body{
        overflow: auto;
    }
    header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    header h3{
        margin-bottom: 5px;
    }

    header img{
        display: none !important;
    }
    main {
        flex-direction: column;
        width: 90%;
    }

    aside{
        margin: 0;
    }

     section{

    }

    #main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    aside {
        width: 100%;
    }
}
